extends layout

block content
	div.column_w530
		div.header_02 Current Database Tables
		div.header_03 User Details
		div.column_w530(id='usersContainer', style="background-color:gray;height:300px;overflow:auto")
		// div.column_w300(id="uerNameList", data-bind="foreach:users")
		//	div.column_w150
		//		span(data-bind="text:userName") username
		//	div.column_w150
		//		span(data-bind="text:password") username
		//div.column_w300(style="margin-top:30px;", id="pagerLink")
		//	a(href="javascript:void(0)", data-offset=0) First Page
		//	a(href="javascript:void(0)", data-offset=20) Second Page
		//	a(href="javascript:void(0)", data-offset=40) Third Page
		//	a(href="javascript:void(0)", data-offset=40) Fourth Page
		//	a(href="javascript:void(0)", data-offset=60) Fifth Page
		//	a(href="javascript:void(0)", data-offset=80) Sixth Page